:root {
  --cor-body: rgb(17, 24, 39);
  --cor-fundo-prim: rgb(31, 41, 55);
  --cor-fundo-sec: rgb(17, 24, 36);
  --cor-texto-prim: white;
  --cor-texto-sec: rgb(151, 166, 185);
  --tamanho-border: 8px;
}

body {
  background-color: var(--cor-body);
  color: var(--cor-texto-prim);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#corpo {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
}

#header {
  background-color: var(--cor-fundo-prim);
  height: 160px;
  width: 350px;
  border-radius: var(--tamanho-border);
  display: grid;
  grid-template-rows: 34% 9% 22% auto;
  justify-self: center;
  margin-top: 50px;
  cursor: default;
}

h1 {
  height: fit-content;
  margin: 15px var(--tamanho-border) 0;
}

h2 {
  color: var(--cor-texto-sec);
  height: fit-content;
  font-size: .9rem;
  font-weight: lighter;
  margin: 0 var(--tamanho-border);
}

#local {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

#local img {
  height: .8rem;
  margin: 0 2px 2px var(--tamanho-border);
  font-size: .9rem;
  font-weight: lighter;
}

#local p {
  color: var(--cor-texto-sec);
  font-size: .9rem;
  font-weight: lighter;
  margin: 0;
}

#contato {
  height: fit-content;
  display: grid;
  grid-template-columns: 32% 8% 8% auto;
  align-items: center;
  margin-top: 23px;
}

#contato img {
  height: 1.3rem;
  margin: 0 1px;
  cursor: pointer;
}

#contato .sociais:hover {
  height: 1.2rem;
  opacity: .5;
  transition: .2s;
}

#curriculo {
  height: fit-content;
  width: fit-content;
  border: 1px solid var(--cor-texto-prim);
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 1px 0 0 var(--tamanho-border);
  cursor: pointer;
}

#curriculo img {
  height: 1.1rem;
  font-size: .9rem;
  font-weight: lighter;
  margin: 0 3px .6px;
}

#curriculo p {
  color: var(--cor-texto-prim);
  width: fit-content;
  font-size: .9rem;
  font-weight: lighter;
  margin: 3px 5px 3px 0;
}

#curriculo:hover {
  opacity: .5;
  transition: .2s;
}

#curriculo:hover img {
  height: 1.05rem;
  font-size: .83rem;
}

#curriculo:hover p {
  font-size: .83rem;
}
