:root {
  --cor-body: rgb(17, 24, 39);
  --cor-fundo-prim: rgb(31, 41, 55);
  --cor-fundo-sec: rgb(17, 26, 46);
  --cor-texto-prim: white;
  --cor-texto-sec: rgb(151, 166, 185);
  --tamanho-border: 8px;
  --tamanho-margin: calc(var(--tamanho-border) + 8px);
}

body {
  background-color: var(--cor-body);
  color: var(--cor-texto-prim);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

#corpo {
  display: grid;
  justify-content: center;
}

#header {
  background-color: var(--cor-fundo-prim);
  height: fit-content;
  width: 500px;
  border-radius: var(--tamanho-border);
  display: grid;
  grid-template-rows: auto;
  justify-self: center;
  margin-top: 50px;
  cursor: default;
}

h1 {
  height: fit-content;
  width: fit-content;
  font-size: 2.5rem;
  margin: var(--tamanho-margin) 0 0 var(--tamanho-margin);
  padding: 0;
}

h2 {
  color: var(--cor-texto-sec);
  height: fit-content;
  width: fit-content;
  font-size: 1rem;
  font-weight: lighter;
  margin: 1px 0 0 var(--tamanho-margin);
}

#local {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 5px 0 0 var(--tamanho-margin);
}

#local img {
  height: .8rem;;
  font-size: .9rem;
  font-weight: lighter;
}

#local p {
  color: var(--cor-texto-sec);
  font-size: .9rem;
  font-weight: lighter;
  margin: 2px 0 0 1px;
}

#contato {
  height: 23.8px;
  display: grid;
  grid-template-columns: 95px 30px 30px 30px auto;
  align-items: center;
  margin: 45px 0 calc(var(--tamanho-margin) + 2px) var(--tamanho-margin);
}

#fixed-height-contato {
  height: 1.7rem;
}

#contato img {
  height: 1.3rem;
  margin-left: 10px;
  cursor: pointer;
}

#contato .sociais:hover {
  height: 1.2rem;
  opacity: .5;
  transition: .2s;
}

#curriculo {
  height: fit-content;
  width: fit-content;
  border: 1px solid var(--cor-texto-prim);
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  cursor: pointer;
}

#curriculo img {
  height: 1.1rem;
  font-size: .9rem;
  font-weight: lighter;
  margin: 0 3px .6px;
}

#curriculo p {
  color: var(--cor-texto-prim);
  width: fit-content;
  font-size: .9rem;
  font-weight: lighter;
  margin: 4px 5px 2px 0;
}

#curriculo:hover {
  opacity: .5;
  transition: .2s;
}

#curriculo:hover img {
  height: 1.05rem;
  font-size: .83rem;
}

#curriculo:hover p {
  font-size: .83rem;
}

#boxExperiencia {
  height: 132px;
  margin-top: 40px;
}

#selecaoTrabalhoEnsino {
  height: fit-content;
  background-color: var(--cor-texto-sec);
  border-radius: var(--tamanho-border);
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.btnAlterna {
  background-color: var(--cor-fundo-sec);
  color: var(--cor-texto-prim);
  width: inherit;
  border: 3px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}

#btnTrabalho {
  background-color: var(--cor-fundo-sec) /*transparent*/;
  background-clip: padding-box;
}

#btnEnsino {
  background-color: transparent /*var(--cor-fundo-sec)*/;
  background-clip: padding-box;
}

#boxTrabalhoEnsino {
  margin-top: 5px;
  display: grid;
  grid-template-rows: 0 0;
}

#boxTrabalho {
  background-color: var(--cor-fundo-sec);
  height: 100px;
  position: relative;
  border: 2px solid var(--cor-texto-sec);
  border-radius: var(--tamanho-border);
  cursor: default;
}

#boxTrabalho svg {
  height: 100%;
  width: 100%;
  position: absolute;
  stroke: rgb(151, 166, 185);
  stroke-width: 2;
  fill: transparent;
}

#boxEnsino {
  background-color: var(--cor-fundo-sec);
  height: 100px;
  position: relative;
  border: 2px solid var(--cor-texto-sec);
  border-radius: var(--tamanho-border);
  cursor: default;
}

#boxEnsino svg {
  height: 100%;
  width: 100%;
  position: absolute;
  stroke: rgb(151, 166, 185);
  stroke-width: 2.5;
  fill: transparent;
}

#boxTrabalho p {
  left: 95px;
  margin: 0;
}

.tempoTrabalho {
  color: var(--cor-texto-sec);
  font-size: .8rem;
  position: absolute;
  top: 26px;
}

.nomeTrabalho {
  color: var(--cor-texto-prim);
  font-size: 1.1rem;
  position: absolute;
  top: 40.5px;
}

.cargoTrabalho {
  color: var(--cor-texto-sec);
  font-size: .8rem;
  position: absolute;
  top: 61px;
}

.empresas-logos {
  height: 50px;
  position: absolute;
  top: 25px;
  left: 35px;
  border-radius: 50px;
  cursor: pointer;
}

#skills-container {
  background-color: var(--cor-fundo-prim);
  height: fit-content;
  width: 500px;
  border-radius: var(--tamanho-border);
  display: grid;
  grid-template-rows: auto;
  justify-self: center;
  margin-top: 40px;
  cursor: default;
}

#titulo-skills {
  color: var(--cor-texto-prim);
  height: fit-content;
  width: fit-content;
  font-size: 1.5rem;
  margin: calc(var(--tamanho-margin) - 3.55px) 0 0 var(--tamanho-margin);
  padding: 0;
}

#boxSkills-logos-texto {
  margin: calc(var(--tamanho-margin) - 6px) 0 0 var(--tamanho-margin);
  display: grid;
  grid-template-columns: max-content max-content max-content;
}

.boxSkills {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  margin: 0 0 var(--tamanho-margin) var(--tamanho-margin);
}

.skills-logos {
  height: 1.5rem;
}

.skills-texto {
  color: var(--cor-texto-prim);
  font-size: 1.1rem;
  margin: 0 0 0 1px;
}

#boxHtml {
  margin-left: 0;
}

#projetos-container {
  background-color: var(--cor-fundo-prim);
  height: fit-content;
  width: 500px;
  border-radius: var(--tamanho-border);
  display: grid;
  grid-template-rows: auto;
  justify-self: center;
  margin-top: 40px;
  padding-bottom: var(--tamanho-margin);
  cursor: default;
}

#titulo-projetos {
  color: var(--cor-texto-prim);
  height: fit-content;
  width: fit-content;
  font-size: 1.5rem;
  margin: calc(var(--tamanho-margin) - 3.55px) 0 5px var(--tamanho-margin);
  padding: 0;
}

.link-projetos {
  margin: 5px 0 0 var(--tamanho-margin);
  cursor: pointer;
}